<div [formGroup]="formMain" *ngIf="formMain">
  <mat-card class="border-card-categories-divide-comp">
    <div class="grid justify-center" [formGroup]="formMain" *ngIf="formMain">
       <div class="p-4">
        <h3 class="title-categories-divide-comp">ACESSO LIBERADO</h3>
      </div>
      <div class="grid grid-cols-2 justify-center gap-2 p-2">

        <mat-form-field class="w-full flex justify-center">
          <mat-label>Início</mat-label>
          <input matInput [ngxTimepicker]="startTimePicker" [value]="startTime" #startValue (selectionchange)="onTimeSelected(startValue.value,'start')" [format]="24" formControlName="start">
          <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
        </mat-form-field>

        <mat-form-field class="w-full flex justify-center">
          <mat-label>Fim</mat-label>
          <input matInput [ngxTimepicker]="endTimePicker" [value]="endTime" #endValue  (selectionchange)="onTimeSelected(endValue.value,'end')" [format]="24" formControlName="end">
          <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
        </mat-form-field>

      </div>
    </div>
    <div>{{formMain.value | json}}</div>
    <div *ngIf="startTime && endTime">
  <p>Intervalo: {{ startTime | date:'HH:mm' }} - {{ endTime | date:'HH:mm' }}</p>
</div>
  </mat-card>
</div>
