<div [formGroup]="formMain" *ngIf="formMain">
  <mat-card class="border-card-categories-divide-comp">
    <div class="p-4 w-full grid-cols-1 gap-4">
      <div>
        <h3 class="title-categories-divide-comp">AUTENTICAÇÃO DE DOIS FATORES</h3>
      </div>
            <div class="w-full grid grid-cols-[30px_120px_30px] items-center">
        <div>
          <mat-icon [class]="twoFactorLabelCssClass">{{twoFactorIcon}}</mat-icon>
        </div>
        <div>
          <mat-label [class]="twoFactorLabelCssClass"><b>{{twoFactorLabel}}</b> </mat-label>
          <!-- <mat-divider></mat-divider>
          <mat-label *ngIf="passwordtwo.two" [class]="twoFactorLabelCssClass"><b>{{twoFactorLabelPassword}}</b> </mat-label> -->
        </div>
        <div>
          <mat-checkbox  class="w-full" #confirmed (change)="toggle($event)" (change)="twoFactorOnChage(confirmed.checked)" formControlName="enable"></mat-checkbox>
        </div>
      </div>
    </div>
  </mat-card>
</div>
