.qr-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

mat-card {
  max-width: 500px;
  margin: 0 auto;
}

h3 {
    font-weight: bolder;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Centraliza verticalmente na tela
}

input{

  justify-content: center;
  align-items: center;
  align-items: center;
}
