<div class="sm:grid justify-center">
  <div class="p-4 sm:w-[800px]">
    <mat-card class="title border-card-categories-divide-comp">
      <div class="title-conf back-ground-main-color-scss">
        <div>
          <img class="icon-title hidden sm:block" src="../../../../../../../assets/side_nav/chat.png"
            alt="logo nsti aqui">
          <img class="icon-title-mobile block sm:hidden " src="../../../../../../../assets/side_nav/mobile-logo.png"
            alt="logo nsti aqui">
        </div>
        <div class="title-box">
          <div class="title-text">
            <span>{{'Integrations' | uppercase}}</span>
          </div>
        </div>
      </div>
      <div class="p-4 flex justify-center">
        <div>
          <h3 class="main-color-scss"> Recuperação de senha</h3>
        </div>
      </div>

      <div [formGroup]="formMain" passwordConfirmationValidator>
        <mat-card class="m-4 border-card-categories-divide-comp">
          <div class="w-full grid-cols-1 gap-4 p-10 ">

            <div class="w-full">
              <mat-label class="text-slate-900"> <b>Email</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input #email matInput type="text" formControlName="email"
                  aria-label="email">
                <mat-error>
                  <span
                    *ngIf="formErrorAndTouched(formMain, 'email','required')">{{defaultMessages.requiredMsg}}</span>
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>email</mat-icon>
              </mat-form-field>
            </div>
          </div>


          <div class="grid justify-center">
            <captcha #token [hidden]="!formMain.valid"></captcha>
          </div>

        </mat-card>
      </div>
      <div>
      </div>

      <div class="p-4 flex justify-center">
        <btn-g mat-dialog-close [isDisabled]="token.token == undefined" [name]="'Recuperar'" [icon]="'lock_open'" (btn)="recovery(token.sendForm())"></btn-g>
      </div>
    </mat-card>
  </div>
  <!-- <div>{{formMain.value | json}}</div> -->
</div>
