<default-component [main_container]="'sm:w-[800px] space-around'" [formGroup]="formMain" *ngIf="formMain"
  [digitTitleComp]="'|'" [textTitleComp]="'Novo usuário'" [textSubTitleComp]="'Usuário'" [iconSubTitleComp]="'add'"
  [hideDivider]="true">
  <div btns>

  </div>
  <div body>
    <div class="sm:grid justify-start">
      <div class="sm:w-[800px] space-around">

        <div [formGroup]="formMain" *ngIf="formMain">
          <div class="pl-6 pt-4">
            <h3>{{(this.formMain.get('companyName')?.value).toUpperCase()}}</h3>
          </div>
          <mat-card class="border-card-categories-divide-comp">
            <div class="w-full grid-cols-1 gap-4 p-10 ">

              <div class="w-full">
                <mat-label class="text-slate-900"> <b>Email</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input #email (input)="inputEmail(email.value)" matInput type="text" formControlName="email"
                    aria-label="email">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'email','required')">{{defaultMessages.requiredMsg}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'email','email')">{{defaultMessages.emailMsg}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'email','inUse')">{{'Este e-mail já esta registrador no
                      sistema!'}}</span>
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>email</mat-icon>
                </mat-form-field>
              </div>
              <div class="w-full">
                <mat-label class="text-slate-900"> <b>Nome de exibição</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput type="text" formControlName="userName" aria-label="userName">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'userName','required')">{{defaultMessages.requiredMsg}}</span>
                    <!-- <span *ngIf="formErrorAndTouched(formMain, 'userName','email')">{{defaultMessages.emailMsg}}</span> -->
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>person</mat-icon>
                </mat-form-field>
              </div>
              <div class="w-full">
                <mat-label class="text-slate-900"> <b> Senha</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput [type]="pwdType" formControlName="password" aria-label="Senha">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'password','required')">{{defaultMessages.requiredMsg}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'password','wordPwd')">{{'Senha não pode ser as
                      palavras SENHA ou PASSWORD.'}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'password','usrPwdIsEqual')">{{'A senha não pode ser o
                      nome de usuário'}}</span>
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
                  <mat-icon class="main-color-scss cursor-pointer" matSuffix
                    (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
                </mat-form-field>
              </div>
              <div class="w-full">
                <mat-label> <b> Confirmar Senha</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput [type]="pwdType" formControlName="confirmPassword" aria-label="Confirmar Senha">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'confirmPassword','required')">{{defaultMessages.requiredMsg}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'confirmPassword','invalidPasswordConfirmation')">{{'As
                      senhas não coincidem.'}}</span>
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
                  <mat-icon class="main-color-scss cursor-pointer" matSuffix
                    (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
                </mat-form-field>

              </div>

            </div>

            <div class="grid justify-center">
              <div class="w-full grid grid-rows-1 p-4 text-red-600 text-center" *ngIf="loginErrorMessage">
                {{loginErrorMessage}}
              </div>

            </div>
          </mat-card>
        </div>
        <div>
        </div>

        <div class="p-4 flex justify-center">
          <btn-g mat-dialog-close [name]="'Cadastrar'" [icon]="'lock_open'" (btn)="register()"></btn-g>
        </div>
      </div>
    </div>
  </div>
</default-component>
