<div [formGroup]="formMain">
  <mat-card class="border-card-categories-divide-comp">
    <div class="pt-4 pr-4 pl-4 w-full grid-cols-1 gap-4">
      <div>
        <h3 class="title-categories-divide-comp">TROCAR SENHA</h3>
      </div>

      <div class="w-full">
        <password-field [formMain]="formMain" [fieldLabel]="'Senha Atual'" [formCtrlName]="'currentPwd'" [errorMsgFieldInvalid]="'currentPwd'">
        </password-field>
        <password-field [formMain]="formMain" [fieldLabel]="'Senha'" [formCtrlName]="'password'" [errorMsgFieldInvalid]="'password'">
        </password-field>
        <password-field [formMain]="formMain" [fieldLabel]="'Confirmar Senha'" [formCtrlName]="'confirmPassword'" [errorMsgFieldInvalid]="'confirmPassword'">
        </password-field>
      </div>

    </div>
    <div class="pb-4 grid justify-center">
      <btn-g mat-dialog-close [name]="'Atualizar'" [icon]="'lock_open'" (btn)="passwordChange('')"></btn-g>
    </div>
  </mat-card>
</div>
