<div [formGroup]="formMain">
  <mat-card class="border-card-categories-divide-comp">
    <div class="pt-4 pr-4 pl-4 w-full grid-cols-1 gap-4">
      <div>
        <h3 class="title-categories-divide-comp">SENHA</h3>
      </div>
      <div class="w-full">
        <mat-label class="text-slate-900"> <b> Senha Atual</b></mat-label>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput [type]="pwdTypeCurrent" formControlName="currentPwd" aria-label="Senha">
          <mat-error>
            <span *ngIf="formErrorAndTouched(formMain, 'currentPwd','required')">{{defaultMessages.requiredMsg}}</span>
            <span
              *ngIf="formErrorAndTouched(formMain, 'currentPwd','wordPwd')">{{defaultMessages.invalidWordPasswordMsg}}</span>
            <span
              *ngIf="formErrorAndTouched(formMain, 'currentPwd','usrPwdIsEqual')">{{defaultMessages.invalidUserNameAsPasswordMsg}}</span>
          </mat-error>
          <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
          <mat-icon class="main-color-scss cursor-pointer" matSuffix
            (click)="currentPwdHideShow()">{{pwdIconCurrent}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-label class="text-slate-900"> <b> Senha</b></mat-label>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput [type]="pwdType" formControlName="password" aria-label="Senha">
          <mat-error>
            <span *ngIf="formErrorAndTouched(formMain, 'currentPwd','required')">{{defaultMessages.requiredMsg}}</span>
            <span
              *ngIf="formErrorAndTouched(formMain, 'currentPwd','wordPwd')">{{defaultMessages.invalidWordPasswordMsg}}</span>
            <span
              *ngIf="formErrorAndTouched(formMain, 'currentPwd','usrPwdIsEqual')">{{defaultMessages.invalidUserNameAsPasswordMsg}}</span>
          </mat-error>
          <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
          <mat-icon class="main-color-scss cursor-pointer" matSuffix (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-label> <b> Confirmar Senha</b></mat-label>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput [type]="pwdType" formControlName="confirmPassword" aria-label="Confirmar Senha">
          <mat-error>
            <span
              *ngIf="formErrorAndTouched(formMain, 'confirmPassword','required')">{{defaultMessages.requiredMsg}}</span>
            <span
              *ngIf="formErrorAndTouched(formMain, 'confirmPassword','invalidPasswordConfirmation')">{{defaultMessages.invalidPasswordNotEqualConfirmPasswordMsg}}</span>
          </mat-error>
          <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
          <mat-icon class="main-color-scss cursor-pointer" matSuffix (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="pb-4 grid justify-center">
      <btn-g mat-dialog-close [name]="'Atualizar'" [icon]="'lock_open'" (btn)="passwordChange('')"></btn-g>
    </div>
  </mat-card>
</div>
