<div class="w-full" [formGroup]="formMain">

  <div>
    <mat-label class="text-slate-900"> <b> {{fieldLabel}}</b></mat-label>
    <mat-form-field class="w-full" appearance="outline">
      <input matInput (input)="outPwdField($event)" [type]="pwdType" [formControlName]="formCtrlName" aria-label="Senha">
      <mat-error>
        <span
          *ngIf="formErrorAndTouched(formMain, errorMsgFieldInvalid,'required')">{{defaultMessages.requiredMsg}}</span>
        <span
          *ngIf="formErrorAndTouched(formMain, errorMsgFieldInvalid,'invalidPasswordConfirmation')">{{defaultMessages.invalidPasswordNotEqualConfirmPasswordMsg}}</span>
        <span
          *ngIf="formErrorAndTouched(formMain, errorMsgFieldInvalid,'wordPwd')">{{defaultMessages.invalidWordPasswordMsg}}</span>
        <span
          *ngIf="formErrorAndTouched(formMain, errorMsgFieldInvalid,'usrPwdIsEqual')">{{defaultMessages.invalidUserNameAsPasswordMsg}}</span>
      </mat-error>
      <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
      <mat-icon class="main-color-scss cursor-pointer" matSuffix (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
    </mat-form-field>
  </div>

</div>
