<div class="p-4 sm:w-[800px]">
  <mat-card class="title border-card-categories-divide-comp">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Identificação">
        <div [formGroup]="formMain">
          <mat-card class="m-4 border-card-categories-divide-comp">
            <div class="w-full grid-cols-1 gap-4 p-10 ">

              <div class="w-full">
                <mat-label class="text-slate-900"> <b>Email</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input #email (input)="inputEmail(email.value)" matInput type="text" formControlName="email"
                    aria-label="email">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'email','required')">{{defaultMessages.requiredMsg}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'email','email')">{{defaultMessages.emailMsg}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'email','inUse')">{{'Este e-mail já esta registrador no
                      sistema!'}}</span>
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>email</mat-icon>
                </mat-form-field>
              </div>
              <div class="w-full">
                <mat-label class="text-slate-900"> <b>Operador</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput type="text" formControlName="displayUserName" aria-label="displayUserName">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'displayUserName','required')">{{defaultMessages.requiredMsg}}</span>
                    <!-- <span *ngIf="formErrorAndTouched(formMain, 'displayUserName','email')">{{defaultMessages.emailMsg}}</span> -->
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>person</mat-icon>
                </mat-form-field>
              </div>
              <div class="w-full">
                <mat-label class="text-slate-900"> <b>Nome de Usuário</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput type="text" formControlName="userName" aria-label="userName">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'userName','required')">{{defaultMessages.requiredMsg}}</span>
                    <!-- <span *ngIf="formErrorAndTouched(formMain, 'userName','email')">{{defaultMessages.emailMsg}}</span> -->
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>person</mat-icon>
                </mat-form-field>
              </div>

            </div>

          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Empresas">


        <div [formGroup]="formMain">
          <mat-card class="m-4 border-card-categories-divide-comp">
            <div class="w-full grid-cols-1 gap-4 p-10 ">
              <div class="w-full">
                <mat-label class="text-slate-900"> <b>Empresa</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput type="text" formControlName="companyName" aria-label="companyName">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'companyName','required')">{{defaultMessages.requiredMsg}}</span>
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>business</mat-icon>
                </mat-form-field>
              </div>

          

            </div>
          </mat-card>
        </div>












      </mat-tab>

         <mat-tab label="Segurança">


        <div [formGroup]="formMain">
          <mat-card class="m-4 border-card-categories-divide-comp">
            <div class="w-full grid-cols-1 gap-4 p-10 ">


              <div class="w-full">
                <mat-label class="text-slate-900"> <b> Senha</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput [type]="pwdType" formControlName="password" aria-label="Senha">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'password','required')">{{defaultMessages.requiredMsg}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'password','wordPwd')">{{'Senha não pode ser as palavras
                      SENHA ou PASSWORD.'}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'password','usrPwdIsEqual')">{{'A senha não pode ser o
                      nome de usuário'}}</span>
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
                  <mat-icon class="main-color-scss cursor-pointer" matSuffix
                    (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
                </mat-form-field>
              </div>
              <div class="w-full">
                <mat-label> <b> Confirmar Senha</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput [type]="pwdType" formControlName="confirmPassword" aria-label="Confirmar Senha">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'confirmPassword','required')">{{defaultMessages.requiredMsg}}</span>
                    <span *ngIf="formErrorAndTouched(formMain, 'confirmPassword','invalidPasswordConfirmation')">{{'As
                      senhas não coincidem.'}}</span>
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
                  <mat-icon class="main-color-scss cursor-pointer" matSuffix
                    (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
                </mat-form-field>

              </div>





            </div>
          </mat-card>
        </div>












      </mat-tab>
    </mat-tab-group>


  </mat-card>
</div>
