<div class="sm:grid justify-center">
  <div class="p-4 sm:w-[800px]">
    <mat-card class="title border-card-categories-divide-comp">
      <div class="title-conf back-ground-main-color-scss">
        <div>
          <img class="icon-title hidden sm:block" src="../../../../../../../assets/side_nav/chat.png"
            alt="logo nsti aqui">
          <img class="icon-title-mobile block sm:hidden " src="../../../../../../../assets/side_nav/mobile-logo.png"
            alt="logo nsti aqui">
        </div>
        <div class="title-box">
          <div class="title-text">
            <span>{{'Integrations' | uppercase}}</span>
          </div>
        </div>
      </div>
      <div class="p-4 flex justify-center">
        <div>
          <h3 class="cursor-pointer main-color-scss" [routerLink]="['/login']"> Já sou cadastrado!</h3>
        </div>
      </div>

      <div [formGroup]="formMain">
        <mat-card class="m-4 border-card-categories-divide-comp">
          <div class="w-full grid-cols-1 gap-4 p-10 ">

            <div class="w-full">
              <mat-label class="text-slate-900"> <b>Email</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input #email (input)="inputEmail(email.value)" matInput type="text" formControlName="email"
                  aria-label="email">
                <mat-error>
                  <span *ngIf="formErrorAndTouched(formMain, 'email','required')">{{defaultMessages.requiredMsg}}</span>
                  <span *ngIf="formErrorAndTouched(formMain, 'email','email')">{{defaultMessages.emailMsg}}</span>
                  <span *ngIf="formErrorAndTouched(formMain, 'email','inUse')">{{'Este e-mail já esta registrador no sistema!'}}</span>
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>email</mat-icon>
              </mat-form-field>
            </div>
            <div class="w-full">
              <mat-label class="text-slate-900"> <b>Nome de exibição</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input matInput type="text" formControlName="userName" aria-label="userName">
                <mat-error>
                  <span
                    *ngIf="formErrorAndTouched(formMain, 'userName','required')">{{defaultMessages.requiredMsg}}</span>
                  <!-- <span *ngIf="formErrorAndTouched(formMain, 'userName','email')">{{defaultMessages.emailMsg}}</span> -->
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>person</mat-icon>
              </mat-form-field>
            </div>
            <div class="w-full">
              <cpf-cnpj [formMain]="formMain" (cpfCnpjBusinessData)="cpfCnpjBusinessData($event)" (isValidCpf)="isValidCpf($event)">
              </cpf-cnpj>

            </div>
            <mat-label *ngIf="!isCpf" class="text-slate-900"> <b>Empresa</b></mat-label>
            <div *ngIf="!isCpf" class="grid grid-cols-[50px_1fr] w-full p-3 border-2 mb-4">
              <div>
                <mat-icon class="main-color-scss" matPrefix>business</mat-icon>
              </div>
              <div class="pt-1">{{this.formMain.get('companyName')?.value}}</div>
            </div>


            <div *ngIf="isCpf" class="w-full">
              <mat-label class="text-slate-900"> <b>Empresa</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input matInput type="text" formControlName="companyName" aria-label="companyName">
                <mat-error>
                  <span
                    *ngIf="formErrorAndTouched(formMain, 'companyName','required')">{{defaultMessages.requiredMsg}}</span>
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>business</mat-icon>
              </mat-form-field>
            </div>

            <div class="w-full">
              <mat-label class="text-slate-900"> <b> Senha</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input matInput [type]="pwdType" formControlName="password" aria-label="Senha">
                <mat-error>
                  <span
                    *ngIf="formErrorAndTouched(formMain, 'password','required')">{{defaultMessages.requiredMsg}}</span>
                  <span *ngIf="formErrorAndTouched(formMain, 'password','wordPwd')">{{'Senha não pode ser as palavras SENHA ou PASSWORD.'}}</span>
                  <span *ngIf="formErrorAndTouched(formMain, 'password','usrPwdIsEqual')">{{'A senha não pode ser o nome de usuário'}}</span>
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
                <mat-icon class="main-color-scss cursor-pointer" matSuffix
                  (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
              </mat-form-field>
            </div>
            <div class="w-full">
              <mat-label> <b> Confirmar Senha</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input matInput [type]="pwdType" formControlName="confirmPassword" aria-label="Confirmar Senha">
                <mat-error>
                  <span
                    *ngIf="formErrorAndTouched(formMain, 'confirmPassword','required')">{{defaultMessages.requiredMsg}}</span>
                  <span *ngIf="formErrorAndTouched(formMain, 'confirmPassword','invalidPasswordConfirmation')">{{'As
                    senhas não coincidem.'}}</span>
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
                <mat-icon class="main-color-scss cursor-pointer" matSuffix
                  (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
              </mat-form-field>

            </div>

          </div>

          <div class="grid justify-center">
            <captcha #token [hidden]="!formMain.valid"></captcha>
            <div class="w-full grid grid-rows-1 p-4 text-red-600 text-center" *ngIf="loginErrorMessage">
              {{loginErrorMessage}}
            </div>

          </div>
          <div class="p-4 w-full">
            <div>
              <h3 class="cursor-pointer main-color-scss" [routerLink]="['/forgot']">Esqueceu?</h3>
            </div>

          </div>
        </mat-card>
      </div>
      <div>
      </div>
{{formMain.value | json}}
      <div class="p-4 flex justify-center">
        <btn-g mat-dialog-close [isDisabled]="token.token == undefined" [name]="'Cadastrar'" [icon]="'lock_open'"
          (btn)="register(token.sendForm())"></btn-g>
      </div>
    </mat-card>
  </div>

</div>
