<default-component [main_container]="'sm:w-[800px] space-around'" [formGroup]="formMain" *ngIf="formMain"
  [digitTitleComp]="'|'" [textTitleComp]="formMain.get('email')?.value" [textSubTitleComp]="'Usuário'"
  [iconSubTitleComp]="'add'" [hideDivider]="true">
  <div btns>

  </div>
  <div body>
    <!-- <div class="sm:grid justify-start">
      <div class="sm:w-[800px] space-around">
        <div [formGroup]="formMain" *ngIf="formMain">
          .
          <mat-card class="border-card-categories-divide-comp">
            <div class="w-full grid-cols-1 gap-4 p-4">

              <email-field [formMain]="formMain">
                <btn-g mat-dialog-close [name]="'Atualizar'" [icon]="'email'" (btn)="emailChange(formMain.get('email')?.value)"></btn-g>

              </email-field>
              <div class="pb-4"></div>

              <div class="w-full">
                <mat-label class="text-slate-900"> <b>Nome de exibição</b></mat-label>
                <mat-form-field class="w-full" appearance="outline">
                  <input matInput type="text" formControlName="displayUserName" aria-label="displayUserName">
                  <mat-error>
                    <span
                      *ngIf="formErrorAndTouched(formMain, 'displayUserName','required')">{{defaultMessages.requiredMsg}}</span>
                  </mat-error>
                  <mat-icon class="main-color-scss" matPrefix>person</mat-icon>
                </mat-form-field>
              </div>


            </div>
          </mat-card>

          <div>
            <mat-card class="border-card-categories-divide-comp">
              <address [formMain]="address"></address>

              <div class="pb-4 pr-4 pl-4 grid justify-center">
                <btn-g mat-dialog-close [name]="'Atualizar'" [icon]="'email'" (btn)="addressUpdate()"></btn-g>
              </div>
            </mat-card>
            <div class="align-h-center">
              <mat-divider class="divider-line-categories-comp"></mat-divider>
            </div>
            <mat-card class="border-card-categories-divide-comp">
              <contact [formMain]="contact"></contact>
              <div class="pb-4 pr-4 pl-4 grid justify-center">
                <btn-g mat-dialog-close [name]="'Atualizar'" [icon]="'email'" (btn)="contactUpdate()"></btn-g>
              </div>
            </mat-card>

          </div>
        </div>

        <div>{{formMain.value | json}}</div>
        <div class="p-4 flex justify-center">
          <btn-g mat-dialog-close [name]="'Cadastrar'" [icon]="'lock_open'" (btn)="register()"></btn-g>
        </div>
      </div>
    </div> -->


    <mat-tab-group [formGroup]="formMain" class="p-4" animationDuration="0ms">
      <mat-tab label="Identificação">



        <mat-card class="border-card-categories-divide-comp">
          <div class="p-4">
            <h3 class="title-categories-divide-comp">Identificação</h3>
          </div>
          <div class="p-4 w-full grid-cols-1 gap-4">
            <email-field [formMain]="formMain">


            </email-field>
            <div class="w-full">
              <mat-label class="text-slate-900"> <b>Nome de exibição</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input matInput type="text" formControlName="displayUserName" aria-label="displayUserName">
                <mat-error>
                  <span
                    *ngIf="formErrorAndTouched(formMain, 'displayUserName','required')">{{defaultMessages.requiredMsg}}</span>
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>person</mat-icon>
              </mat-form-field>
            </div>

          </div>
        </mat-card>

        <div class="p-4 flex justify-center">
          <btn-g mat-dialog-close [name]="'Atualizar'" [icon]="'email'"
            (btn)="emailChange(formMain.get('email')?.value)"></btn-g>
        </div>



      </mat-tab>
      <mat-tab label="Endereço">
        <mat-card class="border-card-categories-divide-comp">
          <address [formMain]="address"></address>
        </mat-card>
        <div class="pb-4 pr-4 pl-4 grid justify-center">
          <btn-g mat-dialog-close [name]="'Atualizar'" [icon]="'email'" (btn)="addressUpdate()"></btn-g>
        </div>
      </mat-tab>
      <mat-tab label="Contatos">
        <mat-card class="border-card-categories-divide-comp">
          <contact [formMain]="this.contact"></contact>
        </mat-card>
        <div class="pb-4 pr-4 pl-4 grid justify-center">
          <btn-g mat-dialog-close [name]="'Atualizar'" [icon]="'email'" (btn)="contactUpdate()"></btn-g>
        </div>
      </mat-tab>
      <mat-tab label="Segurança">
        <div class="grid sm:grid-cols-2 grid-cols-1">
          <!-- <password-change [userIdRoute]="userIdRoute" [userName]="emailUserName()">
          </password-change> -->
          <!-- <password-reset-adm [formMain]="formMain" [email]="email"></password-reset-adm> -->


          <password-expires [willExpires]="willExpires" [userAccountId]="userIdRoute">
          </password-expires>

          <account-status [userName]="emailUserName()" [lastLogin]="lastLogin">
          </account-status>
          <div class="grid  grid-cols-1">
            <password-reset-adm [email]="email"></password-reset-adm>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</default-component>
