<div [formGroup]="formMain">
  <mat-card class="m-4 border-card-categories-divide-comp">
    <div class="w-full grid-cols-1 gap-4 pr-4 pl-4 pt-4">

      <div>
        <h3 class="title-categories-divide-comp">TROCAR A SENHA</h3>
      </div>

      <password-field (pwdField)="outPwdField($event)" [formMain]="formMain" [fieldLabel]="'Senha'" [formCtrlName]="'password'" [errorMsgFieldInvalid]="'password'">
      </password-field>
      <password-field [formMain]="formMain" [fieldLabel]="'Confirmar Senha'" [formCtrlName]="'confirmPassword'" [errorMsgFieldInvalid]="'confirmPassword'">
      </password-field>

    </div>


    <div class="grid justify-center">
      <!-- <captcha #token></captcha> -->
      <!-- <captcha #token [hidden]="!formMain.valid"></captcha> -->
      <div class="w-full grid grid-rows-1 p-4 text-red-600 text-center" *ngIf="loginErrorMessage">
        {{loginErrorMessage}}
      </div>
    </div>
    <div class="pb-4 flex justify-center">
      <btn-g mat-dialog-close [isDisabled]="!formMain.valid" [name]="'Trocar'" [icon]="'lock_open'" (btn)="passwordChange()"></btn-g>
    </div>
  </mat-card>

</div>
