<div style="display: flex; justify-content: center;" class="sm:grid justify-center">
  <div class="p-4 sm:w-[800px]">
    <mat-card class="title border-card-categories-divide-comp">
      <div class="title-conf back-ground-main-color-scss">
        <div>
          <img class="icon-title hidden sm:block" src="../../../../../../../assets/side_nav/chat.png"
            alt="logo nsti aqui">
          <img class="icon-title-mobile block sm:hidden " src="../../../../../../../assets/side_nav/mobile-logo.png"
            alt="logo nsti aqui">
        </div>
        <div class="title-box">
          <div class="title-text">
            <span>{{'Integrations' | uppercase}}</span>
          </div>
        </div>
      </div>
      <div class="p-4 flex justify-center">
        <div>
          <h3 class="cursor-pointer main-color-scss" [routerLink]="['/register']"> Cadastrar</h3>
        </div>
      </div>

      <div [formGroup]="formMain">
        <mat-card class="m-4 border-card-categories-divide-comp">
          <div class="w-full grid grid-cols-1 gap-4 p-10 ">

            <div class="w-full">
              <mat-label class="text-color-main"> <b>Email</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input #email (input)="inputEmail(email.value)" matInput type="text" formControlName="email"
                  aria-label="email">
                <mat-error>
                  <span *ngIf="formErrorAndTouched(formMain, 'email','required')">{{defaultMessages.requiredMsg}}</span>
                  <span *ngIf="formErrorAndTouched(formMain, 'email','email')">{{defaultMessages.emailMsg}}</span>
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>email</mat-icon>
              </mat-form-field>
            </div>

            <div class="w-full">
              <mat-label class="text-color-main"> <b> Senha</b></mat-label>
              <mat-form-field class="w-full" appearance="outline">
                <input matInput #pwd (input)="inputPwd(pwd.value)" [type]="pwdType" formControlName="password" aria-label="Senha">
                <mat-error>
                  <span
                    *ngIf="formErrorAndTouched(formMain, 'password','required')">{{defaultMessages.requiredMsg}}</span>
                </mat-error>
                <mat-icon class="main-color-scss" matPrefix>https</mat-icon>
                <mat-icon class="main-color-scss cursor-pointer" matSuffix
                  (click)="pwdHideShow()">{{pwdIcon}}</mat-icon>
              </mat-form-field>
            </div>

          </div>
          <!-- <div class="grid justify-center">
            <captcha #token [hidden]="!formMain.valid"></captcha>
          </div> -->

          <div class="w-full grid grid-rows-1 p-4 text-red-600 text-center" *ngIf="loginErrorMessage">
            {{loginErrorMessage}}
          </div>
          <div class="p-4 w-full">
            <div>
              <h3 class="cursor-pointer main-color-scss" [routerLink]="['/forgot']">Esqueceu?</h3>
            </div>

          </div>
        </mat-card>
      </div>
      <div>
      </div>
      <div class="p-4 flex justify-center">
        <btn-g mat-dialog-close [name]="'Acessar'" [icon]="'lock_open'" (btn)="login()"></btn-g>
        <!-- <btn-g mat-dialog-close [isDisabled]="token.token == undefined" [name]="'Acessar'" [icon]="'lock_open'"
          (btn)="login(token.sendForm())"></btn-g> -->
      </div>

    </mat-card>
  </div>
</div>
