<div [formGroup]="formMain" *ngIf="formMain">
  <mat-card class="border-card-categories-divide-comp">
    <div class="p-4 w-full grid-cols-1 gap-4">
      <div>
        <h3 class="title-categories-divide-comp">STATUS DA CONTA:</h3>
      </div>
      <div class="w-full grid grid-cols-[30px_120px_30px] items-center">
        <div>
          <mat-icon [class]="lockedOutLabelCssClass">{{lockedOutIcon}}</mat-icon>
        </div>
        <div>
          <mat-label [class]="lockedOutLabelCssClass"><b>{{lockedOutLabel}}</b> </mat-label>
        </div>
        <div>
          <mat-checkbox class="w-full" #locked (change)="actionLockedOut($event)" (change)="lockedOutOnChage(locked.checked)" formControlName="isAccountLockedOut"> </mat-checkbox>
        </div>
      </div>


      <div class="w-full grid grid-cols-[30px_120px_30px] items-center">
        <div>
          <mat-icon [class]="emailConfirmedLabelCssClass">{{emailConfirmedIcon}}</mat-icon>
        </div>
        <div>
          <mat-label [class]="emailConfirmedLabelCssClass"><b>{{emailConfirmedLabel}}</b> </mat-label>
        </div>
        <div>
          <mat-checkbox class="w-full" #confirmed (change)="this.actionEmailConfirm($event)" (change)="emailConfirmedOnChage(confirmed.checked)" formControlName="isEmailConfirmed"> </mat-checkbox>
        </div>
      </div>



      <!-- <div class="w-full">
        <mat-checkbox formControlName="isEmailConfirmed"> <mat-label
            class="text-slate-900"><b>Confirmado?</b></mat-label></mat-checkbox>
      </div> -->
    </div>
  </mat-card>
</div>
<!-- <mat-label class="text-slate-900"> <b> Senha Atual</b></mat-label> -->
