<div class="w-full" [formGroup]="formMain">

  <div>
    <mat-label class="text-slate-900"> <b>Email</b></mat-label>
    <mat-form-field class="w-full" appearance="outline">
      <input #email matInput type="text" formControlName="email" aria-label="email">
      <mat-error>
        <span *ngIf="formErrorAndTouched(formMain, 'email','required')">{{defaultMessages.requiredMsg}}</span>
        <span *ngIf="formErrorAndTouched(formMain, 'email','email')">{{defaultMessages.emailMsg}}</span>
        <span *ngIf="formErrorAndTouched(formMain, 'email','inUse')">{{defaultMessages.emailDuplicateMsg}}</span>
      </mat-error>
      <mat-icon class="main-color-scss" matPrefix>email</mat-icon>
    </mat-form-field>
  </div>
 
</div>
