<default-component [formGroup]="formMain" *ngIf="formMain" [digitTitleComp]="'|'"
  [textTitleComp]="this.formMain.get('name')?.value" [textSubTitleComp]="'Cadastro de empresa'"
  [iconSubTitleComp]="'add'" [hideDivider]="true">
  <div btns>

  </div>
  <div body>
    <mat-card class="border-card-categories-divide-comp">

      <div class="p-4">
        <h3 class="title-categories-divide-comp">Identificação</h3>
      </div>

      <!-- <div>
        <name-cpf-cnpj (cpfCnpjBusinessData)="cpfCnpjBusinessData($event)" [formMain]="subForm"> </name-cpf-cnpj>
      </div> -->
      <div class="p-4">
        <company-names [formMain]="this.subForm">
        </company-names>
        <cpf-cnpj [formMain]="formMain" (cpfCnpjBusinessData)="cpfCnpjBusinessData($event)" (isValidCpf)="isValidCpf($event)">
        </cpf-cnpj>
      </div>

    </mat-card>

    <div class="align-h-center">
      <mat-divider class="divider-line-categories-comp"></mat-divider>
    </div>

    <mat-card class="border-card-categories-divide-comp">
      <address [formMain]="this.address"></address>
    </mat-card>
    <div class="align-h-center">
      <mat-divider class="divider-line-categories-comp"></mat-divider>
    </div>
    <mat-card class="border-card-categories-divide-comp">
      <contact [formMain]="this.contact"></contact>
    </mat-card>

    <!-- <div>{{formMain.value|json}}</div> -->

    <div class="mb-14 align-h-center">
      <btn-g [name]="'Salvar'" [icon]="'save'" (btn)="save()"></btn-g>
    </div>
  </div>
</default-component>
