
// h3 {
//     font-weight: bolder;
// }

// .title {
//     border-top-left-radius: 15px !important;
//     border-top-right-radius: 15px !important;
// }

// .border-radius-none {
//     border-radius: 80% !important;
// }

// .icon-title {
//     margin-left: 8px;
//     margin-right: 15px;
//     width: 100px;
//     height: 100px;
// }

// .title-conf {
//     display: flex;
//     align-items: center;
//     font-size: 14px;
//     padding: 10px;
//     height: 50px;
//     max-height: 80px;
//     width: 100%;
//     color: white;
//     border-top-left-radius: 15px;
//     border-top-right-radius: 15px;
// }

// .title-box {
//     width: 100%;
// }

// .title-text {
//     display: flex;
//     align-content: center;
//     font-size: 40px;
// }



.backdrop-dialog {
    background-color: rgba(0, 0, 0, 0.788);
}

//abaixo só test

// :host {
//   display: block;
//   height: 100vh;
//   width: 100vw;
// }

// Seu CSS existente mantido
// h3 {
//   font-weight: bolder;
// }

.title {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

// .border-radius-none {
//   border-radius: 0% !important;
// }

// .icon-title {
//   margin-left: 8px;
//   margin-right: 15px;
//   width: 100px;
//   height: 100px;
// }

.title-conf {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  height: 50px;
  max-height: 80px;
  width: 100%;
  color: white;
  // border-top-left-radius: 15px;
  // border-top-right-radius: 15px;
}

.title-box {
  width: 100%;
}

.title-text {
  display: flex;
  align-content: center;
  font-size: 40px;
}

// // Garantir que o conteúdo ocupe toda a altura
// mat-card.title {
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

// // Ajustar o conteúdo para usar o espaço disponível
// .border-card-categories-divide-comp {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
// }
